
<div class="container mt-5">
  <h1>Medical Record</h1>
  <div class="mt-5">
    <%  @medical_records.each do |medical_record| %>
      <ul class="list-unstyled">
        <li><strong>Lab Results:</strong> <%= medical_record.lab_results %></li>
        <li><strong>Medications:</strong> <%= medical_record.medications %></li>
        <li><strong>Description:</strong> <%= medical_record.description %></li>
      </ul>
    <% end %>
  </div>
</div>
<strong></strong>
