i {
  font-style: italic;
}

#doctor-header small {
    color: rgb(149, 149, 149);
    font-size: 18px;
}

h1 {
  font-family: Montserrat;
  font-size: 30px;
  color: #143757;
}

.content {
  font-size: 16px;
  font-family: inherit;
}

.btn {
  background-color: #143757;;
  border-color: #143757;;
}

.btn:hover {
  background-color: #0b263e;
  border-color: #0b263e;
}
